# PROGRAMME FOR SCHOOL MANAGEMENT
import mysql.connector as sq
con=sq.connect(host='localhost',user='root',passwd='password',database='school')
c=con.cursor()
while True:
    # MENU DRIVEN PROGRAMME
    print("=====================================================")
    print("=====              SCHOOL MANAGEMENT            =====")
    print("=====================================================")
    print("1. NEW ADMISSION")
    print("2. SCHOOL LEAVING")
    print("3. FEES CALCULATION")
    print("4. INSERT FEES DEFAULTER DETAILS ")
    print("5. GET OVERDUE FEES OF STUDENT")
    print("6. LATE FEES COLLECTION")
    print("")
    print("0. Exit ")
    enter=int(input("ENTER THE OPTION NUMBER:- "))
    # TO ACCEPT THE DETAILS FOR ADMISSION OF THE STUDENT AND ADD HIN/HER TO THE LIST
    if enter==1:
        
        print("*****************************************************")
        print ("****             ADMISSION PROCESS               ****")
        print ("*****************************************************")
        msfn=input("ENTER THE STUDENT'S FIRST NAME         :- ")
        msln=input("ENTER THE STUDENT'S LAST NAME          :- ")
        mffn=input("ENTER THE FATHER'S FIRST NAME          :- ")
        mfln=input("ENTER THE FATHER'S LAST NAME           :- ")
        mmfn=input("ENTER THE MOTHER'S FIRST NAME          :- ")
        mmln=input("ENTER THE MOTHER'S LAST NAME           :- ")
        msex=input("ENTER THE STUDENT'S GENDER(M/F)        :- ")
        mClass=int(input("ENTER THE CLASS OF THE ADMITEE(10/11/12:- "))
        mgrno=int(input("ENTER THE GR NUMBER OF THE ADMITEE     :- "))
        mdob=int(input("ENTER THE DATE OF BIRTH OF THE ADMITEE :- "))
        msec=input("ENTER THE SECTION                      :- ")
        q1="insert into admissioninfo values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        args = (msfn,msln,mffn, mfln, mmfn, mmln, msex,mClass,msec,mgrno,mdob)
        c.execute(q1,args)
        con.commit()
        print ("RECORD INSERTED.............")
        print ("*****************************************************")
        print ("*****************************************************")
        
        
    # TO REMOVE THE STUDENT FROM THE LIST ON THE DAY OF LEAVING   
    if enter==2:
        print ("*****************************************************")
        print ("****         SCHOOL LEAVING PROCESS              ****")
        print ("*****************************************************")
    
        xgrno=int(input("ENTER THE GR NUMBER OF THE STUDENT WHOSE NAME IS TO BE REMOVED:- "))
        arg=(xgrno,)
        q2="delete from admissioninfo where grno=(%s)"
        c.execute(q2,arg)
        con.commit()
        print ("*****************************************************")
        print ("*****************************************************")
      
    #TO COLLECT THE FEES FROM THE STUDENT
    if enter==3:
        print ("*****************************************************")
        print ("****               FEES DETAILS                  ****")
        print ("*****************************************************")
        cl=int(input('ENTER THE CLASS OF THE STUDENT (10/11/12):- '))
        n=int(input('ENTER THE NUMBER OF MONTHS OF FEES YOU WOULD LIKE TO PAY:- '))
        args2 = (cl,)
        q3="select montlyfees from classmaster where class=%s"
        print (q3)
        print(n)
        c.execute(q3,args2)
    
        records=c.fetchall()
        for i in records:
            print('THE VALUE OF THE FEES TO BE COLLECTED =',n*int(i[0]))
            print ("*****************************************************")
            print ("*****************************************************")
    
    # TO MAKE THE FEE DEFAULTIES LIST
    if enter==4:
        print ("*****************************************************")
        print ("****           FEE DEFAULTER ENTRY               ****")
        print ("*****************************************************")

        dsfn=input("ENTER THE STUDENT'S FIRST NAME:- ")
        dsln=input("ENTER THE STUDENT'S LAST NAME:- ")
        clss=int(input("ENTER THE STUDENT'S CLASS:- "))
        s=input("ENTER THE STUDENT'S SECTION:- ")
        gr=int(input("ENTER THE STUDENT GR NUMBER:- "))
        a=(dsfn,dsln,clss,s,gr)
        q4='insert into fee_defaulties values(%s,%s,%s,%s,%s)'
        f = c.execute(q4,a)
        con.commit()
        print("added")
            
        print ("*****************************************************")
        print ("*****************************************************")
    
    # TO GET THE NUMBER THE NUMBER OF MONTHS OF FEE DELAY
    if enter==5:
        print ("*****************************************************")
        print ("****             GET OVERDUE FEE                 ****")
        print ("*****************************************************")

        ssln=input("ENTER THE STUDENT GR NUMBER:- ")
        argg=(ssln,)
        q5="select count(*) from fee_defaulties where grno=(%s)"
        c.execute(q5,argg) 
        d=c.fetchall()
        for i in d:
            print(i)
            print ("*****************************************************")
            print ("*****************************************************")
            
    # TO REMOVE A STUDENT FROM THE FEE DEFAULTIES LIST
    if enter==6:
        print ("****************************************************")
        print ("****           LATE SUBMISSION                  ****")
        print ("****************************************************")
        gr=int(input("ENTER THE GR NUMBER OF THE STUDENT:- "))
        arguments = (gr,)
        q6="delete from fee_defaulties where grno=(%s)"
        c.execute(q6,arguments)
        con.commit()
        print ("PAID")
        print ("*****************************************************")
        print ("*****************************************************")
        
    # STOPPING PROGRAM
    if enter==0:
        print ("Exiting......")
        c.close()
        con.close()
        break
